@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registerBtnText {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}

.employeeCard {
  @apply px-[87px] py-6 grid grid-cols-6;
}

.tableHeader {
  @apply px-[87px] py-6 grid grid-cols-6 border-b-[1px] border-solid border-other_grey;
}

.employeeCard:last-child {
  border: none !important;
}

.formRow {
  @apply flex items-center justify-between gap-[50px];
}
