@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.employeeCard {
  @apply px-[87px] py-6 grid grid-cols-6;
}

.tableHeader {
  @apply px-[87px] py-6 grid grid-cols-6 border-b-[1px] border-solid border-other_grey;
}

.employeeCard:last-child {
  border: none !important;
}

.formRow {
  @apply flex items-center justify-between gap-[50px];
}
